@model IEnumerable<TaskManager.Models.TaskModel>

@{
    Layout = "_Layout";
}
<section class="jumbotron text-center">
    
    <div class="container">
        <h1>Witamy w menedżerze zadań</h1>
        <p>Tutaj możesz zobaczyć listę swoich zadań</p>
        <p>
            <a class="btn btn-primary my-2" asp-action="Create">Dodaj zadanie</a>
        </p>
    </div>
    
</section>


